---
import Layout from '../../layouts/Layout.astro'
import '../../styles/blog.css'
import Header from  '../../components/Header.astro';
import High from  '../../components/Highlight.astro';
const query = `
query GetUserArticles($page: Int!) {
    user(username: "aaronoriginator") {
        publication {
            posts(page: $page) {
                title
                brief
                slug
                coverImage
            }
        }
    }
}
`;
const variables = { page: 0 };
const data = await fetch("https://api.hashnode.com/", {
    method: "POST",
    headers: {
        "Content-Type": "application/json",
    },
    body: JSON.stringify({
        query,
        variables
    }),
});

const result = await data.json();
const articles = result.data.user.publication.posts;
console.log(articles[1].coverImage)
---

<Layout>
    <Header />
    <h2 class="h2_header">Blogs from hashnode</h2>
    <div class="container">
           
<div class=" mb-4 max-w-sm bg-white text-gray-700 border border-gray-200 rounded-lg shadow-md dark:bg-black dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src={articles[0].coverImage} alt={articles[0].slug}/>
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-600">{articles[0].title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{articles[0].brief}</p>
        <a  href={`https://dreamdeveloper.hashnode.dev/${articles[0].slug}`} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
           
<div class=" mb-4 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:dark:bg-black dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src={articles[5].coverImage} alt={articles[5].slug}/>
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{articles[5].title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{articles[5].brief}</p>
        <a  href={`https://dreamdeveloper.hashnode.dev/${articles[5].slug}`} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
            
                       
<div class="mb-4 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:dark:bg-black dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src={articles[3].coverImage} alt={articles[3].slug}/>
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{articles[3].title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{articles[3].brief}</p>
        <a  href={`https://dreamdeveloper.hashnode.dev/${articles[3].slug}`} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
            
                  
<div class="mb-4 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:dark:bg-black dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src={articles[1].coverImage} alt={articles[1].slug}/>
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{articles[1].title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{articles[1].brief}</p>
        <a  href={`https://dreamdeveloper.hashnode.dev/${articles[1].slug}`} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
            

            
<div class="mb-4 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:dark:bg-black dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src={articles[4].coverImage} alt={articles[4].slug}/>
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{articles[4].title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{articles[4].brief}</p>
        <a  href={`https://dreamdeveloper.hashnode.dev/${articles[4].slug}`} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
            
<div class="max-w-sm mb-4 bg-white border border-gray-200 rounded-lg shadow-md dark:dark:bg-black dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src='https://dreamdeveloper.hashnode.dev/_next/image?url=https%3A%2F%2Fcdn.hashnode.com%2Fres%2Fhashnode%2Fimage%2Fupload%2Fv1670603187901%2Fh3IcEyfzE.jpeg%3Fw%3D1600%26h%3D840%26fit%3Dcrop%26crop%3Dentropy%26auto%3Dcompress%2Cformat%26format%3Dwebp&w=1920&q=75' alt={articles[2].slug}/>
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{articles[2].title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{articles[2].brief}</p>
        <a  href={`https://dreamdeveloper.hashnode.dev/${articles[5].slug}`} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>


    </div>
    <High />
</Layout>
